.link_mold {
  position: relative;
  width: 83.4vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: RobotoBold;
  color: #000000;
  font-size: 100px;
  padding-bottom: 114px;
  padding-top: 61px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
