.side_bar_head {
    display: flex;
    align-items: center;
    .info {
      .name {
        font-size: 14px;
        line-height: 16px;
        color: #192a3e;
      }
      .email {
        margin-top: 8px;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.01em;
        color: #90a0b7;
      }
    }
  }
  