.left {
    left: 190px;
}

.right {
    left: 55px;
}

.center {
    text-align   : center;
    position     : relative;
    top          : auto;
    left         : auto;
    transform    : inherit;
    margin-bottom: 15px;
}